body{
	font-size: 16xp;
	color: #fff;
	background-color: darkgrey;
	font-family: 'Oxygen', sans-serif;
}

#header-nav {
	background-color: lightgrey;
    border-radius: 0;
	border: 1px solid black;
	border-color: black;
}

/*.navbar-brand{
	padding-top: 25px;
}*/

.navbar-brand h1 {
font-family: 'Lora', sans-serif;
color: black;
font-size: 1.5em;
font-weight: bold;
text-shadow: 1px 1px 1px #222;
margin-top: 0;
text-align: left;
margin-bottom: 0;
line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

#nav-list a {
	color: black;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid black;
}

@media (max-width: 767px){
	.navbar-brand{
		padding-top: 10px;
		height: 80px;
	}
	.navbar-brand h1 {
		padding-top: 10px;
		font-size: 5vw;
	}
}