body{
	font-size: 16xp;
	color: #fff;
	background-color: darkgrey;
	font-family: 'Oxygen', sans-serif;
}

*{
	margin: 0;
	padding: 0;
	
}
.navbar{

border: none;
background-color: lightgrey;
color: #61122F;
}

.glyphicon{
	font-size: 30px;
	color:#61122F; 
}

.center{
	width: 90%;
	background-color: grey;

}
.container
{
	background-color: grey;
}
.text-center{
	font-size: 30px;
}

h2{
	text-align: center;
}
#myNavbar ul li a {
	color: #61122F;
}
.navbar-brand{
font-size: 30px;	
}